<html>
	<head>
	{% if title %}
		<title>{{title}} | EMTY PRJCT</title>
	{% else %}
		<title>EMPTY PRJCT</title>
	{% endif %}
	</head>
	<body>
		<nav>
			<a href='/'>HOME</a>
			{% if g.user.is_authenticated %}
			| <a href="{{ url_for('user_page', login=g.user.login) }}">My PAGE</a>
			| <a href="{{url_for('logout')}}">LOGOUT</a>
			{% endif %}
		</nav>
		<hr>
		{% with messages = get_flashed_messages() %}
			<ul>
				{% for message in messages %}
					<li style='color: green'>{{message}}</li>
				{% endfor %}
			</ul>
		{% endwith %}
		{% block content %}{% endblock%}
	</body>
</html>
